{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load form_extras %}
{% load socialaccount %}

{% block body %}
<section class="auth bg-base d-flex flex-wrap">
    <div class="auth-right py-32 px-24 d-flex flex-column justify-content-center">
        <div class="max-w-464-px mx-auto w-100 text-center">
            <h5 class="mb-12">Hasło zostało zmienione!</h5>
            <p class="mb-32 text-secondary-light text-lg">
                Twoje hasło zostało pomyślnie zmienione. Możesz teraz zalogować się na swoje konto.
            </p>
            <a href="{% url 'account_login' %}" class="btn btn-primary w-100">Zaloguj się</a>
        </div>
    </div>
</section>
{% endblock body %}
