{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load form_extras %}
{% load socialaccount %}

{% block body %}
<section class="auth bg-base d-flex flex-wrap">
    <div class="auth-right py-32 px-24 d-flex flex-column justify-content-center">
        <div class="max-w-464-px mx-auto w-100">
            <h5 class="mb-12">Ustaw nowe hasło</h5>
            <p class="mb-32 text-secondary-light text-lg">Wpisz nowe hasło dla swojego konta</p>

            {% if token_fail %}
                <p class="text-danger">Nieprawidłowy lub wygasły link resetowania hasła. Spróbuj ponownie.</p>
                <a href="{% url 'account_reset_password' %}" class="btn btn-primary w-100">Spróbuj ponownie</a>
            {% else %}
                <form method="post">
                    {% csrf_token %}

                    <div class="icon-field mb-16">
                        <span class="icon top-50 translate-middle-y">
                            <iconify-icon icon="solar:lock-password-outline"></iconify-icon>
                        </span>
                        {{ form.password1|add_class:"form-control h-56-px bg-neutral-50 radius-12" }}
                    </div>

                    <div class="icon-field mb-16">
                        <span class="icon top-50 translate-middle-y">
                            <iconify-icon icon="solar:lock-password-outline"></iconify-icon>
                        </span>
                        {{ form.password2|add_class:"form-control h-56-px bg-neutral-50 radius-12" }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Zapisz nowe hasło</button>
                </form>
            {% endif %}
        </div>
    </div>
</section>
{% endblock body %}
