{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load form_extras %}
{% load socialaccount %}

{% block body %}
<section class="auth bg-base d-flex flex-wrap">
    <div class="auth-right py-32 px-24 d-flex flex-column justify-content-center">
        <div class="max-w-464-px mx-auto w-100 text-center">
            <h5 class="mb-12">Sprawdź swoją skrzynkę!</h5>
            <p class="mb-32 text-secondary-light text-lg">
                Wysłaliśmy Ci e-mail z linkiem do resetowania hasła. Sprawdź swoją skrzynkę i postępuj zgodnie z instrukcjami.
            </p>
            <a href="{% url 'account_login' %}" class="btn btn-primary w-100">Powrót do logowania</a>
        </div>
    </div>
</section>
{% endblock body %}
